.cabezera{
    border: 5px double black;
    padding-left:10px;
    background-color: rgb(219, 214, 214);
    width: 100%;
    margin-left: 10px;
}
.menu{
    margin:10px;
    background-color: lightblue;
    width:20%;
    float: left;
    

}
ul{
    list-style:none;
    padding: 10px;
}
li{
    border: 3px solid lightskyblue;
    margin: 10px;

}
.benzema{
    float:right;
    margin:0 0 10px 10px;
}
.cuerpo{
    width: 75%;
    float: right;
   

}